<div class="col-sm-3 col-md-3">
        <div class="right-title">
          <h3>文章排行</h3>
          <span>TOP ARTICLES</span>
        </div>
        <div class="right-content">
          <ul>
            <volist name="result['rankNews']" id="rankNews" key="i">
            <li <if condition="$i eq 1">class="num{$i} curr"<else/>class="num{$i}"</if>>
              <a target="_blank" href="/index.php?c=detail&id={$rankNews.news_id}">{$rankNews.small_title}</a>
              <if condition="$i eq 1">
              <div class="intro">
                {$rankNews.description}
              </div>
              </if>
            </li>
            </volist>

          </ul>
        </div>
        
        <volist name="result['advNews']" id="advNews" key="i">
        <div class="right-hot">
          <a target="_blank" href="{$advNews.url}"><img src="{$advNews.thumb}" alt="{$advNews.name}"></a>
        </div>
        </volist>
</div>